<footer>
    <div class="main-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="left box">
                            <h2>Sobre nosotros</h2>
                            <div class="content">
                                <p class="sobren">Somos una empresa familiar fundada con alto
                                    conocimiento en la producción y venta de comidas rápidas, la experiencia adquirida a
                                    través de los años, nos da el conocimiento para valorar la importancia del cliente,
                                    quien es el motivo de nuestros esfuerzos, y así llegar a ustedes con la seguridad de
                                    poder ofrecerles nuestros productos de excelente calidad con responsabilidad y
                                    cumplimiento. Contamos con excelente calidad humana que les brindara la atención
                                    apropiada, para de esta manera poder llegar a saber y entender sus gustos y
                                    necesidades. El hecho de contar con ustedes como nuestros clientes es motivo de
                                    satisfacción. <br>
                                    <br> <strong> Encuentranos en nuestras redes sociales:</strong>
                                </p>
                                <div class="social">
                                    <a href="https://www.facebook.com/josy.maciaspico/">
                                        <img src="images/icons/face.png" width="38px" height="38px"
                                            class="d-inline-block align-top" alt="">
                                    </a>
                                    <a href="https://www.instagram.com/joss_maci/">
                                        <img src="images/icons/ins.png" width="38px" height="38px"
                                            class="d-inline-block align-top" alt="">
                                    </a>
                                    <a href="https://twitter.com/login?lang=es">
                                        <img src="images/icons/twiter.png" width="38px" height="38px"
                                            class="d-inline-block align-top" alt="">
                                    </a>
                                    <a href="https://web.whatsapp.com">
                                        <img src="images/icons/whatsapp.png" width="38px" height="38px"
                                            class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="center box">
                            <!--titulo-->
                            <h2>Nuestros compromisos son:</h2>
                            <!--contenedor de contenido-->
                            <div class="content">
                                <p class="sobren">
                                    <li align="left"><strong>Con el cliente</strong></li>
                                <p align="justify">
                                    - Darle atención y servicio de calidad <br>- Brindar un
                                    trato Honesto <br>- Ofrecer excelente calidad de nuestros productos.
                                </p>
                                <li align="left"><strong>Con el personal</strong></li>
                                <p align="justify">
                                    Capacitar y fomentar la Honestidad, Armonía, Eficiencia y Calidad
                                    de su desempeño con respeto y buena comunicación
                                </p>
                                <div class="phene">
                                    <span class="icon icon-phone"></span>
                                    <p class="sobren">Para mayor informacion contactanos a el numero o escribirnos al
                                        correo:</p>
                                </div>
                                <span class="text">444-544654</span><br>
                                <span class="text">pypsusana@gmail.com </span>
                                <div class="email">
                                    <a href="#"><span class="bi bi-facebook"></span>
                                        <img src="images/icons/gmail.png" width="30px" height="30px"
                                            class="d-inline-block align-top" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="center box">
                            <!--titulo-->
                            <h2>Mision:</h2>
                            <!--contenedor de contenido-->
                            <div class="content">
                                <p>
                                    Tiene como misión darle la excelencia a nuestros productos de comidas rápidas con
                                    alta calidad, nutritivos sanos y frescos, en función de satisfacer las necesidades
                                    del consumo, proporcionando en forma permanente bienestar y calidad de vida.
                                    Entregamos a nuestros consumidores los productos que ellos prefieren y eligen por
                                    nuestra calidad y presentación.
                                </p>
                                <div class="content">
                                    <h2>Vision:</h2>
                                    <p>
                                        Tiene como visión consolidarnos como la mejor empresa a nivel nacional, en
                                        cuanto a la producción y venta de comidas rápidas, apoyándonos en instalaciones
                                        con la más alta tecnología para el manejo de nuestros productos y contamos con
                                        personal altamente calificado manteniendo nuestro riguroso y estricto control de
                                        calidad.
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-1 mb-2  btn-dark  text-white" align="center"><strong class="foot"> Comidas Rapidas "HAMBURGER"</strong></div>
</footer>