<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="inicio">
      <img src="images/logo.png" width="100" height="80" class="d-inline-block align-top" alt="">
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class=" nav-link" href="/" ><strong><i class=" fas fa-home"></i>Inicio</strong></a>
        </li>
        <li class="nav-item">
            <a class=" nav-link" href="/salchipapa" ><strong><i class=" fas fa-users"></i>Salchipapas</strong></a>
        </li>
        <li class="nav-item">
            <a class=" nav-link" href="/hambur" ><strong><i class="fas fa-user-circle"></i>Hamburguesas</strong></a>
        </li>
        <li class="nav-item">
            <a class=" nav-link" href="/bebida" ><strong><i class=" fas fa-user-tie"></i>Bebidas</strong></a>
        </li>
        <li class="nav-item">
            <a class=" nav-link" href="/batido" ><strong><i class=" fas fa-user-tie"></i>Batidos</strong></a>
        </li>
        <li class="nav-item">
            <a class=" nav-link1 "  href="/">
                <img src="images/icons/exit.png" width="35px" height="35px" class="d-inline-block align-top" alt=""> 
            </a>
        </li>
      </ul>
</nav>